PersonalWebPages/obj/Debug/PersonalWebPages.csproj.FileListAbsolute.txt
PersonalWebPages/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PersonalWebPages/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PersonalWebPages/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PersonalWebPages/obj/Debug/_WPPLastBuildInfo.txt
PersonalWebPages/obj/Debug/Package/PackageTmp/Home.html
PersonalWebPages/obj/Debug/Package/PackageTmp/LoremIpsum.html
PersonalWebPages/obj/Debug/Package/PackageTmp/MyCNCMachine.html
PersonalWebPages/obj/Debug/Package/PackageTmp/Router.js
PersonalWebPages/obj/Debug/Package/PackageTmp/packages.config
PersonalWebPages/Scripts/jquery-2.1.4.intellisense.js
PersonalWebPages/Scripts/jquery-2.1.4.js
PersonalWebPages/Scripts/jquery-2.1.4.min.js
PersonalWebPages/Scripts/jquery-2.1.4.min.map
PersonalWebPages/packages.config
packages/jQuery.2.1.4/Content/Scripts/jquery-2.1.4-vsdoc.js
packages/jQuery.2.1.4/Content/Scripts/jquery-2.1.4.js
packages/jQuery.2.1.4/Content/Scripts/jquery-2.1.4.min.js
packages/jQuery.2.1.4/Content/Scripts/jquery-2.1.4.min.map
packages/jQuery.2.1.4/Tools/common.ps1
packages/jQuery.2.1.4/Tools/install.ps1
packages/jQuery.2.1.4/Tools/jquery-2.1.4.intellisense.js
packages/jQuery.2.1.4/Tools/uninstall.ps1
packages/jQuery.2.1.4/jQuery.2.1.4.nupkg
packages/repositories.config
PersonalWebPages/obj/Debug/Package/PackageTmp/MyScripts/Router.js
PersonalWebPages/obj/Debug/Package/PackageTmp/AboutMe.html
PersonalWebPages/obj/Debug/Package/PackageTmp/ContactMe.html
PersonalWebPages/obj/Debug/Package/PackageTmp/index.html
